<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="../index.css" />
    <link rel="stylesheet" href="../css/Bird.css" />
    <link rel="stylesheet" href="../css/info.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Quickdraw</title>
</head>

<body>
    <a href="/">
        <div id="arrow"> &larr; </div>
    </a>

    <div id="outerbox">
        <form id="login-form" class="general-form">
            <label for="username"> Username: </label>
            <input type="text" name="username" required />

            <label for="password"> Password: </label>
            <input type="password" name="password" required />

            <input type="submit" class="game-buttons" value="Login" />
        </form>
    </div>

    <!-- Imported Scripts -->
    <script src="../GameLogic/Birds.js"></script>
    <script src="../GameLogic/Map.js"></script>
    <script src="../GameLogic/Info.js"></script>
    <script src="../GameLogic/login.js"></script>
</body>

</html>